@(existingUsers: List[models.User], usernamerForm: Form[models.User], message: String = "")

@import helper._

@main("Usernamer") {
  @if(message) {
    <p>@message</p>
  }

  <ul>
    @existingUsers.map { user =>
      <li>
        <dl>
          <dt>username</dt>
          <dd>@user.username</dd>

          <dt>deviceId</dt>
          <dd>@user.deviceId.getOrElse("None")</dd>

          <dt>deviceType</dt>
          <dd>@user.deviceType.getOrElse("None")</dd>
        </dl>
      </li>
    }
  </ul>

  @form(routes.User.create) {
    @inputText(usernamerForm("username"))
    @*
      TODO: Device id/type. Could just hardcode here or detect UA on server or 
      something?
    *@
  }
}
